@page
@model Quotes.Client.Pages.AddQuoteModel
@{
}
<h2>Add Quote</h2>

<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-horizontal">

        <div class="form-group">
            <div>You quote's </div>
            <input asp-for="Quote.Message" class="form-control" />

        </div>

        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="Add Quote" />
            </div>
        </div>
    </div>
</form>