@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <div>
       @foreach (var quote in Model.QuotesData.Items)
        {
            <span>@quote.Data.Message</span>
        }
   </div>
</div>
