@model Quotes.Client.Models.Quote

<div class="bottomMarginDefault">
</div>

<div class="container">
    <div class="row">
            <div class="pull-left col-md-4">
                <div>
                    <div class="h6 topMarginSmall">@Model.Message</div>
                    <div class="bottomMarginDefault">
                    <a asp-action="EditQuote" asp-controller="Quote" asp-route-id="@Model.Id">Edit Quote</a> |
                    <a asp-action="DeleteQuote" asp-controller="Quote" asp-route-id="@Model.Id">Delete Quote</a>
                    </div>
                </div>
            </div>
        
    </div>
</div> 