@model Quotes.Client.Models.QuoteForCreation

<h2 class="leftMarginSmaller">Edit Quote</h2>

<form asp-action="EditQuote" method="post" class="form-horizontal" role="form">

    <div class="form-horizontal leftMarginDefault">

        <div class="form-group">
            <div>You quote's </div>
            <input asp-for="Message" class="form-control" />
        </div>

        <div class="form-group">
            <div>
                <input type="submit" class="btn btn-primary" value="Change Quote" />
            </div>
        </div>
    </div>
</form>